@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav a.active .nav-indicator {
  width: 65px;
  background-color: #E2E8F0; /* Change to your desired color */
}

.nav a.active .nav-text {
  color: #E2E8F0; /* Change to your desired color */
}

.arrow-up-right-icon {
  @apply inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px;
}

.technology-item {
  @apply flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300
}
